.Card{
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 3rem;
    background-color: blueviolet;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: .5rem;
}

.list{
    display: flex;
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
}
.listwrapper{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.listWrapper> img{
    width: 3rem;
    height: 3rem;
    justify-content: start;
    align-items: center;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    font-size: 12px;
}

.user>span{
    display: flex;
    font-size: 10px;
    font-weight: lighter;
}
.dotsvertical{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width: 1070px){
   .Card{
    display: flex;
    width: 11rem;

   }
   
}